<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.self.reg.mapper.TaxpayerRequestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.self.reg.entity.TaxpayerRequest">
        <id column="id" property="id" />
        <result column="taxpayer_id" property="taxpayerId" />
        <result column="request_status" property="requestStatus" />
        <result column="request_date" property="requestDate" />
        <result column="org_id" property="orgId" />
        <result column="remark" property="remark" />
        <result column="reason" property="reason" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="lock_version" property="lockVersion" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, taxpayer_id, request_status, request_date, org_id, remark, reason, create_time, update_time, create_by, update_by, lock_version, delete_flag
    </sql>

</mapper>
